*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 600px;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
   
}
header{
    background-color: orange;
    height: 70px;
    
   
    
}
header h2{
    margin-left: 350px;
    font-size: 35px;
    padding-top: 15px;
    color: white;
}
menu{
    height: 40px;
    background-color:darkgray;
}
menu ul li{
    display: inline;
    float: left;
    height: 28px;
    background-color: white;
    width: 220px;
    margin-top: 5px;
    margin-left: 40px;
    border: 1px solid black;
    color: orange;
    list-style:none;
    font-weight: bold;
    line-height: 25px;

    
}
menu li{
    text-align: center;
    
}
section{
    height: 450px;
    background-color: dimgray;
    display: flex;
}
.box1{
    height: 400px;
    background-color: white;
    width: 30%;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    
}
.img{
    height: 220px;
    width: 380px;
    background-color: green;
    margin: 14px;
    
}
footer{
    height: 40px;
    background-color: orange;
    color: white;
    text-align: center;
    padding-top: 10px;
}
